
#opera-wait-bg {
	z-index: 2100;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	color: #e6f7ff;
	background: #ffffff;
}

#opera-wait-icon {
	z-index: 2105;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: none;
}

#opera-wait-spin {
	z-index: 2110;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	color: #0033cc;
	background: none;
}
